USE [master]
GO
/****** Object:  Database [TeaShop_DB]    Script Date: 2025/6/8 20:14:26 ******/
CREATE DATABASE [TeaShop_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TeaShop_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TeaShop_DB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TeaShop_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TeaShop_DB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeaShop_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeaShop_DB]
GO
/****** Object:  Table [dbo].[Member_Info]    Script Date: 2025/6/8 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Member_Info](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[MemberName] [varchar](20) NOT NULL,
	[MemberNumber] [varchar](20) NOT NULL,
	[Sex] [int] NOT NULL,
	[Telephone] [varchar](20) NULL,
	[Status] [int] NOT NULL,
	[Remark] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order_Info]    Script Date: 2025/6/8 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order_Info](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[TeaNames] [text] NOT NULL,
	[TeaAccount] [int] NOT NULL,
	[MemberNumber] [varchar](20) NULL,
	[DueMoney] [money] NOT NULL,
	[DiscountRate] [float] NOT NULL,
	[DiscountMoney] [money] NOT NULL,
	[PaidUpMoney] [money] NOT NULL,
	[Payway] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[Status] [int] NOT NULL,
	[Remark] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order_Items]    Script Date: 2025/6/8 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Items](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[TeaID] [int] NULL,
	[Size] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Account] [int] NOT NULL,
	[Remark] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tea_Info]    Script Date: 2025/6/8 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tea_Info](
	[TeaID] [int] IDENTITY(1,1) NOT NULL,
	[TeaName] [varchar](20) NOT NULL,
	[TeaImage] [varchar](100) NULL,
	[Price_Small] [money] NOT NULL,
	[Price_Medium] [money] NOT NULL,
	[Price_Large] [money] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tea_Price]    Script Date: 2025/6/8 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tea_Price](
	[TPID] [int] IDENTITY(1,1) NOT NULL,
	[TeaID] [int] NOT NULL,
	[Price_Small] [money] NOT NULL,
	[Price_Medium] [money] NOT NULL,
	[Price_Large] [money] NOT NULL,
	[BeginDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User_Info]    Script Date: 2025/6/8 20:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User_Info](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[RealName] [varchar](20) NOT NULL,
	[UserType] [int] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD  CONSTRAINT [FK_Order_Items_INFo1] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order_Info] ([OrderID])
GO
ALTER TABLE [dbo].[Order_Items] CHECK CONSTRAINT [FK_Order_Items_INFo1]
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD  CONSTRAINT [FK_Order_Items_INFo2] FOREIGN KEY([TeaID])
REFERENCES [dbo].[Tea_Info] ([TeaID])
GO
ALTER TABLE [dbo].[Order_Items] CHECK CONSTRAINT [FK_Order_Items_INFo2]
GO
ALTER TABLE [dbo].[Tea_Price]  WITH CHECK ADD  CONSTRAINT [FK_Tea_Price_Info] FOREIGN KEY([TeaID])
REFERENCES [dbo].[Tea_Info] ([TeaID])
GO
ALTER TABLE [dbo].[Tea_Price] CHECK CONSTRAINT [FK_Tea_Price_Info]
GO
USE [master]
GO
